/* CHECKBOX ANIMATION  */ 

/* section { */
.todo-checkbox-contain{
    display: flex;
    justify-content: center;
    height: fit-content;
  
    flex-direction: column;
  }
  
  /* input[type='checkbox'] { */
  .todo-checkbox {
    height: 0;
    width: 0;
  }
  
  /* input[type='checkbox'] + label { */
  .todo-checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    color: #7274d3;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
  }
  
  
  /* input[type='checkbox'] + label > span { */
  .todo-checkbox-span  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .15rem solid #002d7b;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, 0, .23, 1);
  }
  
  /* input[type='checkbox'] + label:hover,
  input[type='checkbox']:focus + label { */
    .todo-checkbox-label:hover,
    .todo-checkbox:focus + .todo-checkbox-label {
    color: #113865;
    font-weight: 600;
  }
  
  /* input[type='checkbox'] + label:hover > span,
  input[type='checkbox']:focus + label > span { */
  .todo-checkbox-span:hover,
  .todo-checkbox:focus + .todo-checkbox-span {
    background: rgba(35, 97, 148, 0.253);
    background: #d3d3d3b0;
  }
  
   /* .todo-checkbox:checked  + .todo-checkbox-ins
  input[type='checkbox']:checked + label > ins {
    height: 100%;
  }  */

  input[type='checkbox']:checked + label > span {
    border: .15rem solid #002d7b;
    background-color: #f0ff19;
    animation: shrink-bounce 200ms cubic-bezier(.4, 0, .23, 1);
  }
  
  input[type='checkbox']:checked + label > span::before {
    content: '';
    position: absolute;
    top: .7rem;
    left: .5rem;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    
    zoom: 2;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4, 0, .23, 1) forwards;
  }
  
  @keyframes shrink-bounce {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(.85);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes checkbox-check {
    0% {
      width: 0;
      height: 0;
      border-color: #c5ff3d;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
    33% {
      width: .2rem;
      height: 0;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
    100% {
      width: .2rem;
      height: .5rem;
      border-color: hsl(337, 100%, 58%);
      transform: translate3d(0, -.5rem, 0) rotate(45deg);
    }
  }