* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #65f6db 0%, #00144e 100%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header,
form {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  max-width: 80vw;
  margin: auto;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 350px) {
  h1{
    font-size: 1.5rem;
  }
}

form {
  flex-wrap: wrap;
  margin: auto;
}

button:hover {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 80vw;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.85rem;
  border: none;
  background: #ffffff;
}

@media screen and (max-width: 560px) {
  form input {
    font-size: 1rem;
  }
}

form button {
  color: #ff0053d1;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

form button:hover {
  background: #ff0053d1;
  color: #ffffff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: #ffffff;
  font-size: 1.5rem;
  color: #000000;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  color: #ffffff;
  border: none;
  padding: 1rem;
  width: 3rem;
  height: 100%;
  min-height: 3.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow .5s ease-out;
}

.complete-btn {
  background: #f3ff42;
}

.todo-item {
  padding: 0rem .5rem;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

/* custom selector */

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

/* custom select */

.select {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff0053d1;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 13rem;
}

/* arrow */

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff0053d1;
  cursor: pointer;
  pointer-events: none;

  transition: box-shadow .5s ease-out;
}

.select:hover::after {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}

/*  icon animation */

.trash-btn {
  display: flex;
  align-items: baseline;
  background: #ff0053d1;
  padding-top: 21px;
  /* width: 100%; */
  /* height: 100%; */
}

.trash {
  background: #ffd6d6;
  display: inline-block;
  margin: 0 auto;
  width: 1rem;
  height: 1rem;

  position: relative;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.trash:after {
  content: '';
  position: absolute;
  left: -99px;
  right: 0;
  bottom: -50px;
  width: 300px;
}

.trash span {
  position: absolute;
  height: 0.2rem;
  width: 1.3rem;
  background: #ffd6d6;
  top: -5.5px;
  left: -2px;
  right: -8px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%; 
}

.trash span::after {
  content: '';
  position: absolute;
  top: -3.8px;
  left: 6px;
  width: .5rem;
  height: .15rem;
  background: #ffd6d6;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
}

.trash i,
.trash i::after,
.trash i::before {
  width: .1rem;
  height: .6rem;
  background: #ff0053d1;
  border-radius: 5px;
}

.trash i {
  position: relative;
  display: block;
  margin: 3px auto;
}

.trash i::after {
  content: '';
  position: absolute;
  left: -4px;
}

.trash i::before {
  content: '';
  position: absolute;
  right: -4px;
}

.trash:hover span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}

/* CHECKBOX ANIMATION  */ 

/* .todo-checkbox-contain */
  section {
  display: flex;
  justify-content: center;
  height: fit-content;

  flex-direction: column;
  /* padding: 0.5rem; */
}

/* .todo-checkbox */
 input[type='checkbox'] {
  /* z-index: -1; */
  height: 0;
  width: 0;
}

/* .todo-checkbox-label  */
input[type='checkbox'] + label {
  position: relative;
  display: flex;
  align-items: center;
  /* margin: .6rem 0; */
  color: #7274d3;
  transition: color 250ms cubic-bezier(.4, 0, .23, 1);
}

/* .todo-checkbox-ins  */
input[type='checkbox'] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2rem;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4, 0, .23, 1 );
}

/* .todo-checkbox-i */
input[type='checkbox'] + label > ins > i {
  position: absolute;
  bottom: .38rem;
  left: 2rem;
  font-style: normal;
  color: #0034cf;
}

/* .todo-checkbox-span  */
input[type='checkbox'] + label > span {
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 2px solid #aaf9ff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4, 0, .23, 1);
}

/* .todo-checkbox-label:hover,
.todo-checkbox:focus + .todo-checkbox-label */
input[type='checkbox'] + label:hover,
input[type='checkbox']:focus + label {
  color: #34e643;
}

/* .todo-checkbox-span:hover,
.todo-checkbox:focus + .todo-checkbox-span  */
input[type='checkbox'] + label:hover > span,
input[type='checkbox']:focus + label > span {
  background: rgba(35, 97, 148, 0.253);
}

/* .todo-checkbox:checked  + .todo-checkbox-ins */
input[type='checkbox']:checked + label > ins {
  height: 100%;
}

/* .todo-checkbox:checked .todo-checkbox-span */
input[type='checkbox']:checked + label > span {
  border: 1.5rem solid #f0ff19;
  animation: shrink-bounce 200ms cubic-bezier(.4, 0, .23, 1);
}

/* .todo-checkbox:checked + .todo-checkbox-span::before */
input[type='checkbox']:checked + label > span::before {
  content: '';
  position: absolute;
  top: 1.3rem;
  left: 1.2rem;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4, 0, .23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #c5ff3d;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .2rem;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .2rem;
    height: .5rem;
    border-color: #ff3131;
    transform: translate3d(0, -.5rem, 0) rotate(45deg);
  }
}