* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #65f6db 0%, #00144e 100%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header,
form {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  max-width: 80vw;
  margin: auto;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 350px) {
  h1{
    font-size: 1.5rem;
  }
}

form {
  flex-wrap: wrap;
  margin: auto;
}

button:hover {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 80vw;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.85rem;
  border: none;
  background: #ffffff;
}

@media screen and (max-width: 560px) {
  form input {
    font-size: 1rem;
  }
}

form button {
  color: #ff0053d1;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

form button:hover {
  background: #ff0053d1;
  color: #ffffff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: #ffffff;
  font-size: 1.5rem;
  color: #000000;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  background: #ff0053d1;
  color: #ffffff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow .5s ease-out;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.todo-item {
  padding: 0rem .5rem;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

/* custom selector */

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

/* custom select */

.select {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff0053d1;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 13rem;
}

/* arrow */

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff0053d1;
  cursor: pointer;
  pointer-events: none;

  transition: box-shadow .5s ease-out;
}

.select:hover::after {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}

/*  icon animation */

.trash-btn {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
}

.trash {
  background: #ffd6d6;
  display: inline-block;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;

  position: relative;
  -webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.trash:after {
  content: '';
  position: absolute;
  left: -99px;
  right: 0;
  bottom: -50px;
  width: 300px;
}

.trash span {
  position: absolute;
  height: 12px;
  background: #ffd6d6;
  top: -19px;
  left: -10px;
  right: -10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%; 
}

.trash span::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 27px;
  height: 7px;
  background: #ffd6d6;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 27px;
}

.trash i {
  position: relative;
  display: block;
  width: 5px;
  height: 50px;
  background: #ffffff;
  margin: 14px auto;
  border-radius: 5px;
}

.trash i::after {
  content: '';
  position: absolute;
  left: -18px;
  width: 5px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
}

.trash i::before {
  content: '';
  position: absolute;
  right: -18px;
  width: 5px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
}

.trash:hover span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}




