* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  background-image: linear-gradient(120deg, #65f6db 0%, #00144e 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

header,
form {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  max-width: 80vw;
  margin: 2rem auto 0;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 350px) {
  h1{
    font-size: 1.5rem;
  }
}

form {
  flex-wrap: wrap;
  margin: auto;
}

button:hover {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 80vw;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.85rem;
  color: #00177b;
  border: none;
  background: #ffffff;
}

@media screen and (max-width: 560px) {
  form input {
    font-size: 1rem;
  }
}

form button {
  color: #ff0053d1;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

form button:hover {
  background: #ff0053d1;
  color: #ffffff;
}

.fa-plus-square:hover,
.fa-plus-square:active {
  animation: bounce 0.6s ease;
  -webkit-animation: bounce 0.6s ease;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 5px;
  }
  75% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}


.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
  margin-bottom: 3rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: #ffffff;
  font-size: 1.5rem;
  color: #000000;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  color: #ffffff;
  border: none;
  /* padding: 1rem; */
  width: 3rem;
  height: 100%;
  min-height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow .5s ease-out;
}

.complete-btn {
  background: #f3ff42;
}

.todo-item {
  padding: 0rem .5rem;
}

/* .fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
} */

.completed {
  text-decoration: line-through;
  opacity: .5;
}

/* custom selector */

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  color: #ff0053d1;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 13rem;
}

/* custom select */

.select-contain {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

/* arrow */

.select-contain::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff0053d1;
  cursor: pointer;
  pointer-events: none;

  transition: box-shadow .5s ease-out;
}

.select:hover::after {
  box-shadow: inset -2px 1px 20px 13px rgba(0, 0, 0, 40%);
}